*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
  @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.main{
   width: 100%; 
   height: 100vh;
   background-image: url('alev-takil-x2Or94kjaqo-unsplash.jpg');
     background-size: 100% 100vh;
     background-repeat: no-repeat;
     background-position: center;
     
     .overlay{
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         color: white;
         height: 100vh;
         background-color:rgba(0,0,0,0.5);
            .title{
                color: white;
                text-align: center;
                margin: 10px;
                font-size: 2.5rem;

            }
            .col{
                // border: 2px red solid;
                margin-top: 20px ;
                width: 1000px;
                height: 100px;
                display: flex;
                text-align: center;
                justify-content: center;
                color: white;
                
                div{
                    width: 250px;

                }
                input{
                    display: inline;
                    width: 40%;
                    height: 60px;
                    font-size: 40px;
                    text-align: center;
                    border-radius: 5px;
                    border-color: transparent;
                    background-color: rgba(255,255,255,0.9);
                }

            }
      }
}
 
